<!-- RENDER SUCCESS PAGE ONCE FORM HAS BEEN COMPLETED -->
 <%- include('../partials/header') %>

 <main class="main" id="main">
    <div class="container">
        <h2>Data Successfylly Entered</h2>
        <p>Last inserted ID: <%= last_id %></p>
    </div>
 </main>

 <%- include('../partials/footer') %>